.logo {
  width:100%;
}
.Initially-Hidden {
  display:none;
}
.panel {
  padding: 30px;
  border-width: 2px;
}
.btn {
  margin-top: 30px;
}
.form-control {
  width:250px;
}
.has-error {
  display:none;
}
#error-message {
  color:red;
}
