.logo {
  width:100%;
}
.Initially-Hidden {
  display:none;
}
.panel {
  padding: 30px;
  border-width: 2px;
}
.btn {
  margin-top: 30px;
}
.form-control {
  width:230px;
}
.has-error {
  display:none;
}
#error-message {
  color:#A94442;
}
body {
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  background-size:cover;
}
h2 {
  text-align: center;
}
